[submodule "dotfiles/.zsh/zsh-git-prompt"]
    path = dotfiles/.zsh/zsh-git-prompt
    url = https://github.com/fly/zsh-git-prompt.git
[submodule "dotfiles/.zsh/zsh-syntax-highlighting"]
    path = dotfiles/.zsh/zsh-syntax-highlighting
    url = https://github.com/fly/zsh-syntax-highlighting.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
    path = dotfiles/.vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/.vim/bundle/funcoo.vim"]
    path = dotfiles/.vim/bundle/funcoo.vim
    url = https://github.com/rizzatti/funcoo.vim.git
[submodule "dotfiles/.vim/bundle/vim-python-pep8-indent"]
    path = dotfiles/.vim/bundle/vim-python-pep8-indent
    url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "dotfiles/.vim/bundle/vim-jinja"]
    path = dotfiles/.vim/bundle/vim-jinja
    url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "dotfiles/.vim/bundle/vim-go"]
    path = dotfiles/.vim/bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule "dotfiles/.vim/bundle/vim-less"]
	path = dotfiles/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotfiles/.vim/bundle/puppet"]
	path = dotfiles/.vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "dotfiles/.vim/bundle/tabular"]
	path = dotfiles/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotfiles/.vim/bundle/vim-terraform"]
	path = dotfiles/.vim/bundle/vim-terraform
	url = https://github.com/markcornick/vim-terraform.git
[submodule "dotfiles/.vim/bundle/toml"]
	path = dotfiles/.vim/bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule "dotfiles/.vim/bundle/vim-unimpaired"]
	path = dotfiles/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/arcanist/libphutil"]
	path = dotfiles/arcanist/libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "dotfiles/arcanist/arcanist"]
	path = dotfiles/arcanist/arcanist
	url = https://github.com/phacility/arcanist.git
