[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/zsh-git-prompt
	url = git@github.com:fly/zsh-git-prompt.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:fly/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
