[submodule "dotfiles/.zsh/zsh-git-prompt"]
    path = dotfiles/.zsh/zsh-git-prompt
    url = https://github.com/fly/zsh-git-prompt.git
[submodule "dotfiles/.zsh/zsh-syntax-highlighting"]
    path = dotfiles/.zsh/zsh-syntax-highlighting
    url = https://github.com/fly/zsh-syntax-highlighting.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
    path = dotfiles/.vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/.vim/bundle/funcoo.vim"]
    path = dotfiles/.vim/bundle/funcoo.vim
    url = https://github.com/rizzatti/funcoo.vim.git
[submodule "dotfiles/.vim/bundle/vim-python-pep8-indent"]
    path = dotfiles/.vim/bundle/vim-python-pep8-indent
    url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "dotfiles/.vim/bundle/vim-jinja"]
    path = dotfiles/.vim/bundle/vim-jinja
    url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "dotfiles/.vim/bundle/vim-go"]
    path = dotfiles/.vim/bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule "dotfiles/.vim/bundle/vim-less"]
	path = dotfiles/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotfiles/.vim/bundle/puppet"]
	path = dotfiles/.vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
